<div id="<%= dom_id restaurant %>">
  <h3>
    <%= restaurant.name.capitalize %>
  </h3>
  <hr>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category.capitalize %>
  </p>

  <p>
    <small><strong>Address:</strong></small>
    <small><%= restaurant.address.capitalize %></small>
  </p>

  <p>
    <small><strong>Phone Number:</strong></small>
    <small><%= restaurant.phone_number %></small>
  </p>
</div>
