<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h2>Reviews</h2>

<ul class='list-group'>
  <% @restaurant.reviews.each do |review| %>
    <li class='list-group-item'>
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if review.rating > count %>
            <i class="fa-solid fa-star" style="color: #FBC407;"></i>
          <% else %>
            <i class="fa-regular fa-star" style="color: #FBC407;"></i>
          <% end %>
        <% count += 1 %>
        <% end %>
      </small>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New Review', new_restaurant_review_path(@restaurant), class: 'btn btn-success' %></p>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
