<p style="color: green"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    Restaurant Details
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= render @restaurant %>
    </p>
    <p><%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: 'btn btn-outline-primary btn-sm' %></p>
  </div>
  <div class="card-footer text-muted">
    Latest review added XX TIME ago
  </div>
</div>

<div style="margin: 10px;">
<h3>Reviews</h3>
  <ul class='list-group'>
    <% @restaurant.reviews.each do |review| %>
      <li class='list-group-item'>
        <small>
          <% count = 0 %>
          <% 5.times do %>
            <% if review.rating > count %>
              <i class="fa-solid fa-star" style="color: #FBC407;"></i>
            <% else %>
              <i class="fa-regular fa-star" style="color: #FBC407;"></i>
            <% end %>
          <% count += 1 %>
          <% end %>
        </small>
        <p><%= review.content %></p>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Back to restaurants", restaurants_path, class: 'btn btn-outline-secondary btn-sm' %>
</div>
